body{
    
    
    margin-top: 5%;
    margin-left: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    float:inline-end;
    
}
div {
    
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 3%;
    
    


}
.sqr{
    background-size: cover;
    font-size: 50px;
    float:left;
    margin-top: 0ch;
    margin-bottom: 0ch;
    margin-left: 0ch;
    margin-right: 0ch;
    padding-top: 20px;
    padding-bottom:20px ;
    width:20px;
    
    background-color: rgb(64, 180, 64);
    color: rgb(245, 237, 237);
    
    border-style: solid;
    border-width: 1px;
    border-color: rgb(22, 31, 3);
 
}
h1{
    color: darkorange;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: inline-start;

}
button{
    float:right;
    color: gainsboro;
    background-color: rgb(184, 57, 120);
    font-size: 20px;
    padding:5px;
   
    margin-bottom: 40px;
    float: left;
    float:none;

}
#nrd-btn{
    margin-top: 40px;
    
    margin-right: 10px;
    background-color: rgb(1, 12, 8);
    background-image: url("/img/nrd.png");
     background-size: cover;
    padding-bottom: 60px;
    width: 70px;
    border-radius: 20px;
    float:none;
    

}